<div class="page-under-construction">
  <div class="text-content">
    <div class="mt-5"><img class="gif-size" src="/assets/images/still-cooking.gif" /></div>
    <div class="flex justify-content-center mt-5" [style]="'font-size: 50px; font-weight:800'">Tea is Brewing!</div>
    <div class="flex justify-content-center mt-3" [style]="'font-size: 20px'">
      We are currently working on this feature khekhe
    </div>
    <div class="flex justify-content-center mt-1" [style]="'font-size: 20px'">and will launch soon!</div>
  </div>
</div>
