.page-under-construction {
  display: flex;
  flex-direction: column;
  min-height: 83vh;
}
.text-content {
  img.gif-size {
    margin-left: 39%;
    width: 20%; /* Adjust as needed */
    height: auto; /* Keeps the aspect ratio */
  }
}
